@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    background-image: linear-gradient(to right top, #325897, #2d508c, #284882, #234177, #1e396d, #1c3466, #192f5e, #172a57, #172651, #17234c, #161f46, #151c41);
    color:aliceblue;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 50px;
}

.cards {
    margin-top: 70px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.right {
    grid-column-start: 2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 200px;
    transition: ease-out .5s;
    background-color: rgb(27, 27, 63);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(255, 255, 255);
}

.card-title {
    align-self: center;
}
.card-image {
    height: 100px;
    align-self: center;
}

.link-image {
    height: 40px;
}

#tv2-title {
    margin-left: -15px;
}

#youtube-logo {
    height: 200px;
    align-self: center;
    margin-top: -55px;
}

#tv2-image {
    margin-right: 6px;
    margin-top: 7px;
    height: 50px;
}

#viaplay-image {
    height: 30px;
}

#nrk-image {
    height: 25px;
    margin-right: 5px;
}


.card:hover {
    height: 200px;
    transform: scale(1.1);
    transition: .5s;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 70px;
}

.link {
    background-color: rgb(27, 27, 63);
    margin: 10px;
    width: 500px;
    text-align: center;
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    transition: ease-out .5s;
}

.link:hover {
    transform: scale(1.1);
    transition: .5s;
}
